<div class="container">
    <div class="row">
        <h3 class="text-center">
            Upload Photos to our server here
        </h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum et quidem qui sequi distinctio odit iusto accusantium eos. Blanditiis velit dolor eos quaerat doloribus beatae nam numquam quas at sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum deserunt nesciunt laudantium fuga sed quia, blanditiis sequi modi esse. Ipsam debitis maxime nemo fugiat delectus dolore dolorem et, porro vero.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8 image-wrapper">
            // Newest Upload
        </div>
    </div>
</div>